<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="character">{{ character.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img style="border-radius: 50%;" *ngIf="character" [src]="character.thumbnail.img">

  <ion-card *ngIf="character">
    <ion-card-header>
      <ion-card-title>{{ character.name }}</ion-card-title>
      <ion-card-subtitle>{{ character.description }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list *ngIf="character">
        <ion-item *ngFor="let comic of character.comics.items" (click)="detailComic(comic.id)">
          <ion-label>{{ comic.name }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>