<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Revistas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="comics.length > 0">
    <ion-item text-wrap *ngFor="let comic of comics" (click)="detailComic(comic.id)" color="dark">
      <ion-avatar>
        <img [src]="comic.thumbnail.img">
      </ion-avatar>
      <ion-label>&nbsp;{{ comic.title }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="getAll()">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Carregando mais dados...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>