<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="creator">{{ creator.fullName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img style="border-radius: 50%;" *ngIf="creator" [src]="creator.thumbnail.img">

  <ion-card *ngIf="creator">
    <ion-card-header>
      <ion-card-title>{{ creator.fullName }}</ion-card-title>
      <ion-card-subtitle>{{ creator.description }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list *ngIf="creator.comics.items.length > 0">
        <ion-title>Revistas</ion-title>
        <ion-item *ngFor="let comic of creator.comics.items" (click)="detailComic(comic.id)">
          <ion-label>{{ comic.name }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>