<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="comic">{{ comic.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img style="border-radius: 50%;" *ngIf="comic" [src]="comic.thumbnail.img">

  <ion-card *ngIf="comic">
    <ion-card-header>
      <ion-card-title>{{ comic.title }}</ion-card-title>
      <ion-card-subtitle>{{ comic.description }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list *ngIf="comic.characters.items.length > 0">
        <ion-title>Personagens</ion-title>
        <ion-item *ngFor="let character of comic.characters.items" (click)="detailCharacter(character.id)">
          <ion-label>{{ character.name }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>