<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Criadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="creators.length > 0">
    <ion-item *ngFor="let creator of creators" (click)="detailCreator(creator.id)" color="dark">
      <ion-avatar>
        <img [src]="creator.thumbnail.img">
      </ion-avatar>
      <ion-label>&nbsp;{{ creator.fullName }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="getAll()">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Carregando mais dados...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>