<ion-content>
  <ion-button expand="block" shape="round" (click)="characters()">Personagens</ion-button>
  <ion-button expand="block" shape="round" (click)="comics()">Revistas</ion-button>
  <ion-button expand="block" shape="round" (click)="creators()">Criadores</ion-button>
</ion-content>